
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
    font-weight: normal;
}
body {
    background: #181c1e;
    /* overflow-y: hidden; */
}
.heading {
    color: #444;
    padding: 10px;
    font-size: 1.8rem;
    margin-top: 26px;
    margin-left: 100px;
}
.bolded { 
    font-weight: bold; 
}
.container {
    display: flex;
    gap: 130px;
    align-items: center;
    margin-left: 100px;
}
.container .main-video {
    border-radius: 5px;
    margin-top: -75px;
}
.container .main-video video {
    width: 72%;
    border-radius: 5px;
}
.container .video-list {
    background: #0f0f0f77;
    border-radius: 5px;
    height: 400px;
    width: 1450px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.container .video-list::-webkit-scrollbar {
    width: 7px;
}
.container .video-list::-webkit-scrollbar-track {
    border-radius: 50px;
}
.container .video-list::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 50px;
}
.container .video-list .vid video {
    width: 85px;
    border-radius: 5px;
}
.container .video-list .vid {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 180px;
    padding: 10px;
    cursor: pointer;
}
.container .video-list .vid:hover {
    background: #1e2322;
}
.container .video-list .vid.active {
    background: #2c2c2cfb;

}
.container .video-list .vid.active .title{
    color:#f1f1f1;
}
.container .video-list .vid .title{
    color:  #f1f1f18b;
    font-size: 15px;
}


@media screen and (max-width: 992px) {
    .heading {
        font-size: 5rem;
        margin-left: 3rem;
        margin-top: 26px;
    }
    .container {
        flex-direction: column-reverse;
        padding: 1px;
        border-radius: 10px;
        margin-left: 0px;
        margin-right: 0px;
        gap: 10px;
    }
    .main-video video {
        width: 100%;
        border-radius: 5px;
        margin-top: 6rem;
        margin-left: 50px;
    }
    .container .main-video video {
        width: 122%;
        border-radius: 5px;
    }
    .container .vid {
        width: 130px;
        border-radius: 10px;
    }

    .container .video-list {
        background: #9e9d9d00;
        height: 400px;
        width: 1300px;
        flex-direction: column;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-left: 300px;
        padding-left: 0px;
        padding-right: 100px;
    }
    
    .container .video-list .vid {
        margin: 5px;
        margin-top: 70px;
    }
    .container .video-list .vid video {
        width: 180px;
    }
    .container .video-list .vid {
        padding: 100px;
    }
    .container .video-list .vid:hover {
        background: none;
    }
    .container .video-list .vid.active {
        background: none;
    }
}